<footer>
    <div class="centralizar">
        <img id="ico03" src="./assets/Imagens/icons/ico03.png"><h4>55 84 3644.8333</h4>
    </div>
        
    <div class="centralizar">
        <a href="https://www.facebook.com/gctipmp" target="_blank">
        <img id="ico03" src="./assets/Imagens/icons/ico04.png"> </a>
        <a href="https://www.instagram.com/gctiparnamirim/" target="_blank">
        <img id="ico03" src="./assets/Imagens/icons/ico05.png"> </a>
        <a href="https://twitter.com/gctiparnamirim" target="_blank">
        <img id="ico03" src="./assets/Imagens/icons/ico06.png"></a>
    </div>       
            
    <div class="centralizar"> 
        <h4 id="gcti">&copy;2020 GCTI</h4>
    </div>               
</footer>