<section id="sobre">
    <div class="introducao">
        <h1>QUEM FAZ O GCTI</h1>
        <p>Nossa equipe é composta por profissionais nas áreas de: Gestão Pública, Análise de Redes, Engenharia de Software,
         Programação, Banco de Dados, Design, Publicidade e Manutenção de Microcomputadores.</p>
    </div>
    <div class="botoes">
        <a href="#ourTeam"><div class="img equipe"></div><p>Conheça nossa equipe</p></a>
        <a (click)="open()"><div class="img curriculo"></div><p>Envie seu currículo</p></a>
    </div>
</section>  