section {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #11306f;
}
.grid {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 80px;
    align-content: baseline;
}
h3 {
    text-align: center;
    color: white;
    font-family: 'Gotham-Medium',sans-serif;
    font-size: 18pt;
    padding: 6px 0px;
}
p {
    font-family: 'Gotham-Medium',sans-serif;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 12pt;
    font-weight: lighter;
}
img {
    width: 75px;
    margin:  18px auto;
}

@media only screen and(max-width:665px){
    section {grid-template-columns: 100%;}    
}