<section>
    <div class="grid">
        <img src="assets/Imagens/icons/ico_design.png">
        <h3>CRIAÇÃO, DESIGN E INTERFACES</h3>
        <p>Usamos a criatividade para adicionar um visual atraente e de alto padrão, incorporando técnicas de publicidade e seguindo as tendencias do momento.</p>  
    </div>
    <div class="grid">
        <img src="assets/Imagens/icons/ico_dev.png">
        <h3>DESENVOLVIMENTO E INOVAÇÃO</h3>
        <p>Eficência em promover soluções utilizando a tecnologia, proporcionado sistemas de qualidade na esfera da administração pública.</p>  
    </div>
    <div class="grid">
        <img src="assets/Imagens/icons/ico_suporte.png">
        <h3>MANUTENÇÃO E SUPORTE</h3>
        <p>Sempre disponiveis para atender qualquer chamado, oferecendo serviço de apoio a usuários para suporte e resolução de problemas técnicos e informática.</p>
    </div>
    <div class="grid">
        <img src="assets/Imagens/icons/ico_redes.png">
        <h3>REDES E INTERNET</h3>
        <p>Gerenciando o funcionamento das redes de dados e das conexões, regidas pela integridade, confiança e disponibilidade de seus serviços.</p>
    </div> 
</section>