<section id="conquistas">
    <div class="introducao">
        <h1>NÚMEROS CONQUISTADOS</h1>
        <p class="introdutoria">Desde 2011 a frente da tecnologia da prefeitura de Parnamirim, o GCTI alcançou números expressivos,
        economizando recursos ao município e proporcionando bem estar a população.</p>
    </div>
    <div class="icones">
        <div class="icone">
            <img src="assets/Imagens/icons/ico_numeros1.png">
            <h4>Fibra Ótica</h4>
            <p>12Km de Rede Prória</p>
        </div>
        <div class="icone">
            <img src="assets/Imagens/icons/ico_numeros2.png">
            <h4>Wi-Fi Pública</h4>
            <p>12 Pontos de Acesso</p>
        </div>
        <div class="icone">
            <img src="assets/Imagens/icons/ico_numeros3.png">
            <h4>Monitoramento</h4>
            <p>20 Câmeras Instaladas</p>
        </div>
        <div class="icone">
            <img src="assets/Imagens/icons/ico_numeros4.png">
            <h4>Sistemas</h4>
            <p>16 Sistemas implantados</p>
        </div>
    </div>
</section>  