<header>
  <div class="header">
    <img class="logo-prefeitura" src="assets/Imagens/icons/logo-prefeitura-full.png">
    <img class="logo-emancipacao" src="assets/Imagens/icons/logo60.png">
  </div>
</header>

<section id="inicio">
  <div id="header-desktop" class="background-wrap">
    <video id="video-bg-elem" preload="auto" autoplay="true" class="video-home" loop="loop" muted="muted">
      <source src="assets/32397187-preview.mp4" type="video/mp4">
    </video>
    <img src="assets/Imagens/bg_header.png">
  </div>
</section>

<section id="inicio">
  <div id="mobile" style="display: none;" class="container">
    <img src="assets/Imagens/bg_header.png" class="logo-mobile" alt="símbolo GCTI">
  </div>
</section>