/* You can add global styles to this file, and also import other style files */
@font-face {
src: url("assets/fonts/NexaRustSans-Black.otf");
font-family: "Nexa Rust Sans";
}

@font-face {
src: url("assets/fonts/Gotham-Medium.otf");
font-family: "Gotham Medium";
}  

@font-face {
src: url("assets/fonts/Gotham-Black.otf");
font-family: "Gotham Black";
}
@font-face {
src: url("assets/fonts/Metropolis-ExtraLight.otf");
font-family: "Gotham Light";
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    text-decoration: none;
    outline: none;
}
html{
    scroll-behavior: smooth;
}
  
/*  Setas do carousel  */
button.slick-prev.slick-arrow:before,button.slick-next.slick-arrow:before{
    font-size: 50px;
    color: black;   
}
button.slick-prev.slick-arrow{
    left: -100px;
}
button.slick-next.slick-arrow{
    right: -75px;
}
/*  Pontos do Carousel  */
.slick-dots li button:before{
    font-size: 12px !important;
}

@media only screen and (max-width:770px){
    button.slick-prev.slick-arrow{left: -50px;}
    button.slick-next.slick-arrow{right: -30px;}
    button.slick-prev.slick-arrow:before,button.slick-next.slick-arrow:before{font-size: 40px;}
}